<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-slides pager class="myslide" >

  <ion-slide  *ngFor="let slide of slideslist;">
	<a [href]='slide.href'><img [src]='slide.img'/></a>
  </ion-slide>

  

</ion-slides>

<ion-content class="card-background-page">

  <ion-card *ngFor="let post of posts" (click)="(nexcat(post.id,post.name))">
    <img [src]="post.description"/>
    <div class="card-title">{{post.name}}</div>
    <div class="card-subtitle">{{post.count}}</div>
  </ion-card>


</ion-content>

</ion-content>
