page-service {


/* This header open */

.toolbar-background-md {
    border-color: #b2b2b2;
    background: #231f20;
}

.toolbar-title-md {
  
    color: #fff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}

/* This header close  */

}
