page-cataegory {

/* This header open */

.toolbar-background-md {
    border-color: #b2b2b2;
    background: #231f20;
}

.toolbar-title-md {
  
    color: #fff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}

/* This header close  */
.myslide{
height:180px;
padding:3px;}

.mylist{
    background: #d4d4d470;
    height: 30px;
}

.myslide img{
border-radius:10px;}


.cat_img {
  width: 50px;
    margin: auto;
    display: block;
}
.card-title{
margin-top:16px;
}
.allcols{
padding: 13px;
text-align:center;
    border-bottom: 1px solid #b5afaf;
    border-right: 1px solid #b5afaf;}
}
