<!--
  Generated template for the CataegoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.heading}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-slides pager class="myslide" >

  <ion-slide  *ngFor="let slide of slideslist;">
	<a [href]='slide.href'><img [src]='slide.img'/></a>
  </ion-slide>

  

</ion-slides>
<ion-list class="mylist"></ion-list>

<ion-grid>
  <ion-row>
    <ion-col col-4  class="allcols" *ngFor="let post of posts" (click)="(nexcat(post.id,post.name))" >
    <img class="cat_img" [src]="post.description"/>
    <div class="card-title">{{post.name}}</div>
    </ion-col>
	
  </ion-row>
</ion-grid>
</ion-content>
